name: deploy-dev

on:
  workflow_dispatch:
  push:
    branches:
      - development

env:
    ENVIRONMENT: development

jobs:
    build:
        name: Build and Deploy api-test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node 22.16.0
              uses: actions/setup-node@v4
              with:
                node-version: 22.16.0
                cache: 'npm'
            
            - name: Install dependencies
              run: npm ci

            - name: Set environment variables
              run: |
                echo "ENVIRONMENT=${{ env.ENVIRONMENT }}" >> $GITHUB_ENV

            - name: Build the application
              run: npm run build
